<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<form>
			<div>
				<label for="animalName">Name</label>
				<input type="text" id="animalName" name="animalName" />
			</div>
			<div>
				<label for="animalClass">Class</label>
				<select name="animalClass" id="animalClass"></select>
			</div>
			<div>
				<label for="animalUrl">Url</label>
				<input type="text" id="animalUrl" name="animalUrl" />
			</div>
			<div>
				<label for="animalDescription">Description</label>
				<textarea name="animalDescription" id="animalDescription" cols="30" rows="10"></textarea>
			</div>
			<div>
				<label for="animalLink">Link</label>
				<input type="text" name="animalLink" id="animalLink" />
			</div>
			<button type="submit"></button>
		</form>
	</body>
</html>
