.animal_card {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px #333;
	min-height: 200px;
	min-width: 200px;
	padding: 1rem;
	margin: 1rem;
}

img {
	max-width: 90%;
	border-image-slice: fill;
}

.animal_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

a.active {
	color: green;
}
